/* Reset*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}


/* Colors */
:root {
  --main-green: #456f20;
  --alt-green: #6e8b53;
  --light-green: #b5cc94;
  --shadow-green: #7fa06385;
  --white: #f8f3f2;
  --black: #191919;
  --overlay: #19191975;
}


/* Styling - header*/
.header {
  display: flex;
  flex-direction: column;
  border-bottom: var(--main-green) solid 2px;
}

.info {
  background-color: var(--main-green);
}

.info-text {
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  text-align: center;

  margin: 0;
  padding: 5px;
}

.nav {
  display: flex;
  padding: 15px 40px;
  background-color: var(--white);
}

.nav-main {
  flex-grow: 1;
  flex-basis: 0;
}

.nav-list {
  display: flex;
}

.nav-content {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  margin: 0 20px;

  transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.nav-content:hover,
.nav-content:active,
.nav-content:focus {
  color: var(--main-green);
  text-shadow: 0px 0px 2px var(--shadow-green);
}

.nav-logo {
  flex-grow: 1;
  flex-basis: 0;

  display: flex;
  justify-content: center;
}

.logo {
  padding: 0 25px;
  fill: var(--black);

  transition: fill 300ms ease-in-out, filter 300ms ease-in-out;
}

.logo:hover,
.logo:active,
.logo:focus {
  fill: var(--main-green);
  filter: drop-shadow(0px 0px 2px var(--shadow-green));
}

.nav-actions {
  flex-grow: 1;
  flex-basis: 0;

  display: flex;
  justify-content: flex-end;
}


/* Styling - main*/
.main {
  background-image: url("../images/banner/banner-m.jpg");
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  background-color: var(--main-green);
  flex: 1;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
}

.banner-title {
  color: var(--white);
  text-shadow: 0px 0px 5px var(--black);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 10rem;

  margin: 0;
  padding: 50px 50px 0 50px;
}

.banner-subtitle {
  color: var(--light-green);
  text-shadow: 0px 0px 5px var(--black);
  font-family: "Pacifico", cursive;
  font-size: 4rem;

  margin: 0;
  padding: 15px 0 0 250px;
  rotate: calc(-10deg);

}

.banner-button {
  margin: 35px;
  padding: 15px 40px;

  color: var(--white);
  font-size: 20px;
  font-weight: 500;

  border-radius: 50px;
  border: none;

  background-color: var(--main-green);
  box-shadow: 0px 0px 5px var(--black);

  transition: background-color 300ms ease-in-out;
}

.banner-button:hover,
.banner-button:active,
.banner-button:focus {
  background-color: var(--alt-green);
}

.signin-overlay, .login-overlay {
  position: fixed;
  background-color: var(--overlay);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9;
}

.is-hidden {
  visibility: hidden;
}

.signin-form {
  background-color: var(--white);
  box-shadow: 0px 0px 5px var(--black);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 100%;

  background-color: var(--white);
  width: 450px;
  height: 480px;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: var(--white);
  box-shadow: 0px 0px 5px var(--black);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 100%;

  background-color: var(--white);
  width: 450px;
  height: 450px;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-modal-exit, .login-modal-exit {
  margin-left: 375px;
}

.exit-icon {
  fill: var(--black);
  transition: fill 300ms ease-in-out;
}

.exit-icon:hover,
.exit-icon:active,
.exit-icon:focus {
  fill: var(--main-green);
}

.signin-modal-label, .login-modal-label {
    color: var(--black);
    font-size: 30px;
    font-weight: 500;
    margin: 25px;
}

.signin-modal-input, .login-modal-input {
  margin: 10px;
  padding: 15px 40px;

  color: var(--black);
  font-size: 20px;
  font-weight: 500;

  outline: none;
  border-radius: 50px;
  border: none;

  background-color: var(--white);
  box-shadow: 0px 0px 5px var(--black);

  transition: box-shadow 300ms ease-in-out;
}

.signin-modal-input:hover,
.signin-modal-input:active,
.signin-modal-input:focus,
.login-modal-input:hover,
.login-modal-input:active,
.login-modal-input:focus {
  box-shadow: 0px 0px 5px var(--main-green);
}

.login-modal-link {
  margin: 10px;
  color: var(--main-green);
}

.login-modal-link:visited,
.login-modal-link:hover,
.login-modal-link:active,
.login-modal-link:focus {
  color: var(--alt-green);
}

.submit-icon {
  fill: var(--light-green);
}

.signin-modal-submit, .login-modal-submit {
  margin: 20px;
  padding: 16px 18px 15px;

  color: #f8f3f2;
  font-size: 20px;
  font-weight: 500;

  border-radius: 50px;
  border: none;

  background-color: var(--main-green);
  box-shadow: 0px 0px 5px var(--black);

  transition: background-color 300ms ease-in-out;
}

.signin-modal-button:hover,
.signin-modal-button:active,
.signin-modal-button:focus,
.login-modal-button:hover,
.login-modal-button:active,
.login-modal-button:focus {
  background-color: var(--shadow-green);
}


/* Styling - header*/
.footer {
  background-color: var(--white);

  display: flex;
  flex-direction: column;

  border-top: var(--main-green) solid 2px;
}

.footer-main {
  display: flex;
  padding: 15px 60px;
}

.footer-logo {
  display: flex;
  align-items: center;
  flex-grow: 3;
}

.footer-icon {
  fill: var(--black);
}

.footer-name {
  color: var(--black);
  font-weight: 700;
  font-size: 30px;

  margin-left: 10px;
}

.footer-socials {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
}

.footer-socials-title {
  margin: 0;
}

.footer-socials-icons {
  margin: 10px auto 0 ;
  display: flex;
}

.footer-socials-icons li{
  margin: 5px;
}

.footer-socials-icon {
  fill: var(--black);
}

.footer-addon {
  flex-grow: 1;
}

.footer-title {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links li{
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}