/*
Font info
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; 
*/

/* Reset*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Colors */
:root {
  --main-green: #456f20;
  --alt-green: #6e8b53;
  --light-green: #b5cc94;
  --shadow-green: #7fa06385;
  --white: #f8f3f2;
  --black: #191919;
  --overlay: #19191975;
}

/* Styling*/
.info {
  background-color: var(--main-green);
}

.info-text {
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  text-align: center;

  margin: 0;
  padding: 5px;
}

.header {
  background-color: var(--white);

  display: flex;
  justify-content: space-between;
  padding: 15px 50px;

  border-bottom: var(--main-green) solid 2px;
}

.header-icon {
  padding: 0 25px;
  fill: var(--black);

  transition: fill 300ms ease-in-out, filter 300ms ease-in-out;
}

.header-icon:hover {
  fill: var(--main-green);
  filter: drop-shadow(0px 0px 2px var(--shadow-green));
}

.header-nav,
.header-list {
  display: flex;
  padding: 0;
}

.header-content {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  margin: 0 25px;

  transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.header-content:hover,
.header-content:active,
.header-content:focus {
  color: var(--main-green);
  text-shadow: 0px 0px 2px var(--shadow-green);
}

.main {
  background-image: url("../images/banner/banner-l.jpg");
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  background-color: var(--main-green);
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px;
}

.banner-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 10rem;

  margin: 0;
  padding: 50px 50px 0 50px;

  color: var(--white);
  text-shadow: 0px 0px 5px var(--black);
  text-align: center;
}

.banner-subtitle {
  font-family: "Pacifico", cursive;
  font-size: 4rem;

  margin: 0;
  padding: 15px 0 0 250px;
  rotate: calc(-10deg);

  color: #b5cc94;
  text-shadow: 0px 0px 5px var(--black);
}

.banner-button {
  margin: 35px;
  padding: 15px 40px;

  color: var(--white);
  font-size: 20px;
  font-weight: 500;

  border-radius: 50px;
  border: none;

  background-color: var(--main-green);
  box-shadow: 0px 0px 5px var(--black);

  transition: background-color 300ms ease-in-out;
}

.banner-button:hover,
.banner-button:active,
.banner-button:focus {
  background-color: var(--alt-green);
}

.overlay {
  position: fixed;
  background-color: var(--overlay);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
}

.is-hidden {
  visibility: hidden;

  opacity: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 100%;

  background-color: var(--white);
  width: 450px;
  height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-exit {
  margin-left: 375px;
}

.modal-label {
    color: var(--black);
    font-size: 30px;
    font-weight: 500;
    margin: 25px;
}

.modal-input {
  margin: 10px;
  padding: 15px 40px;

  color: var(--black);
  font-size: 20px;
  font-weight: 500;

  outline: none;
  border-radius: 50px;
  border: none;

  background-color: var(--white);
  box-shadow: 0px 0px 5px var(--black);

  transition: box-shadow 300ms ease-in-out;
}

.modal-input:hover,
.modal-input:active,
.modal-input:focus {
  box-shadow: 0px 0px 5px var(--main-green);
}

.modal-link {
  margin: 10px;
  color: var(--main-green);
}

.modal-link:visited,
.modal-link:hover,
.modal-link:active,
.modal-link:focus {
  color: var(--alt-green);
}

.modal-submit {
  margin: 20px;
  padding: 15px 18px;

  color: #f8f3f2;
  font-size: 20px;
  font-weight: 500;

  border-radius: 50px;
  border: none;

  background-color: var(--main-green);
  box-shadow: 0px 0px 5px var(--black);

  transition: background-color 300ms ease-in-out;
}

.modal-button:hover,
.modal-button:active,
.modal-button:focus {
  background-color: var(--shadow-green);
}

.footer {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;

  border-top: var(--main-green) solid 2px;
}


.footer-logo {
  display: flex;
  align-items: center;
  flex-grow: 3;
}

.footer-icon {
  fill: var(--black);
}

.footer-name {
  color: var(--black);

  margin-left: 10px;

  font-weight: 700;
  font-size: 30px; 
}

.footer-socials {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
}

.footer-socials-title {
  margin: 0;
}

.footer-socials-icons {
  display: flex;
}

.footer-socials-icons li{
  margin: 5px;
}

.footer-socials-icon {
  fill: var(--black);
}

.footer-addon {
  flex-grow: 1;
}

.footer-title {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  margin: 0 25px;
  text-align: center;
}

.footer-links li{
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}